@font-face {
  font-family: "robotoSlab";
  src: url("https://aarondavidnewman.github.io/Smoosic/build/styles/fonts/robotoslab-webfont.woff2")
      format("woff2"),
    url("https://aarondavidnewman.github.io/Smoosic/build/styles/fonts/robotoslab-webfont.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
}

.score {
  margin: 15px;
  min-height: 280px;
  overflow: visible;
}

.score svg {
  display: block;
  overflow: visible;
}

.--selected {
  border: 15px solid green;
}
.--notSelected {
  border: 15px solid white;
}
